@import "vars.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  height: 100%;
  -webkit-overflow-scrolling: touch;
  font-size: 10px;
  line-height: 10px;
}

body {
  min-width: 320px;
  position: relative;
  font-family: $fontFamily;
  overflow-x: hidden;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  transition: 0.4s ease;
}

input:focus,
button:focus {
  outline: none;
  border: none;
}

u {
  text-decoration: underline;
}

input,
button {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline:none;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: middle;
}

a {
  text-decoration: none;
}
a:focus, a:hover {
  color: #23527c;
  text-decoration: none;
}

.hidden {
  display: none;
}
.nopadding {
  padding:0;
}
.d-flex {
  display: flex;
}