

@media (max-width: 1199px) {
 
}
@media (max-width: 991px) {
  .footer .title {
    font-size: 2.2rem;
  }
  .footer .join .link {
    padding:7px 30px;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 8px;
    line-height: 8px;
  }
  .d-flex {
    flex-direction:column;
  }
  .top_block .line {
    width:100%;
    min-height: 5px;
    margin: 25px 0;
  }
  .top_block .left {
    text-align: left;
    width:100%;
  }
  .top_block .right {
    width:100%;
  }
  .members .title:after {
    top:44px;
  }
  .members .members_slider .item {
    padding:15px;
  }
  .members .members_slider .item .photo {
    width:150px;
    height: 150px;
  }
  .members .members_slider {
    margin-top: 50px;
  }
  .top_block .d-flex {
    min-height: 545px;
    padding:50px 0;
  }
  .footer .join, .footer .subscribe, .footer .connect {
    width:100%;
  }
  .footer .join {
    text-align:center;
  }
  .footer .join .title {
    text-align:center;
  }
  .footer .title {
    text-align:center;
  }
  .footer .subscribe {
    padding: 0;
    margin:50px 0;
    border:none;
  }
  .footer .connect .social {
    justify-content: center;
  }
  .members .members_slider .item {
    margin:0;
  }
  .footer .connect .address {
    text-align:center;
  }
}

@media (max-width: 500px) {

    
}